<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Secret</title>
</head>
<body>
    <form action="/logout" method="POST">
        <button>Sign Out</button>
    </form>
    <h1 style="text-align: center;">Welcome to your Dashboard!</h1>
    
</body>
</html>