body{
    background-color: #b4c6f0;
}
form{
    color: #ffa269;
    background-color: #4d5791;
    width: 250px;
    height: 120px;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    padding: 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

button {
    background: none;
    color:#b4c6f0;
    border: 2px solid;
    padding: .5em 1em;
    font-size: 1em;
    transition: all 0.2s;

    margin-top: .5em;
  }

  button:hover{
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-.25em);
    cursor: pointer;
  }